@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffdd1f;
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUpForm {
    @apply flex flex-col w-96 bg-slate-200 p-5 shadow-md max-h-screen;
}

.FormBtn {
    @apply text-white font-bold py-2 px-3 rounded-md shadow-md w-36;
}

.FormBtn-blue {
    @apply bg-blue-400 hover:bg-blue-500;
}

.FormBtn-green {
    @apply bg-green-500 hover:bg-green-600;
}

.FormBtn-gray {
    @apply bg-gray-400 hover:bg-gray-500;
}

.FormInputBasic {
    @apply bg-gray-50 border-b border-gray-400 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-80 p-2.5 ;
}

.FormInputError {
    @apply bg-red-50 border-b border-red-400 text-red-700 text-sm focus:ring-red-500 focus:border-red-500 block w-80 p-2.5 ;
}

.FormInputValid {
    @apply bg-green-50 border-b border-green-400 text-gray-900 text-sm focus:ring-green-500 focus:border-green-500 block w-80 p-2.5 ;
}
